.chatInput-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: #080420;
    padding: 0 2rem;
    padding-bottom: 0.3rem;

}

.button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
}

.emoji {
    position: relative;
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;

}


.input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
    padding: 0rem;
    flex-direction:unset;
    height: 40px;
}

.input-box{
    width: 90%;
      height: 60%;
      background-color: transparent;
      color: white;
      border: none;
      padding: 0rem;
      padding-left: 1rem;
      font-size: 1.2rem;
    outline:none;
      &::selection {
        background-color: #9a86f3;
      }
}

.chatInput-send {
    padding: 0.3rem 2rem;
    height: 40px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0.3rem 1rem;
        .chatInput-send-icon {
            font-size: 1rem;
            }
        }
    .chatInput-send-icon {
        font-size: 2rem;
        color: white;
    }
}